<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Employee Page</title>
<script src="../js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../js/emppage.js"></script>
<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<center>
		<h2>EMPLOYEE PAGE</h2>
		<button id="apply_late_stay">Apply Late Stay</button>
		<button id="update_late_stay">Update Late Stay</button>
		<button id="logout">Logout</button><br><br>
		<select id="location" required>
		  <option value="Margoa">Margao</option>
		  <option value="Ponda">Ponda</option>
		  <option value="Vasco">Vasco</option>
		  <option value="Panjim">Panjim</option>
		</select>
		<button id="late_stay"></button>
		<button id="delete_late_stay">Delete</button>
		<span id="msg"></span>
	</center>
</body>
</html>