<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Late Stay Management System</title>
<script src="../js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../js/homepage.js"></script>
<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <center>
    <h3>LATE STAY MANAGEMENT SYSTEM</h3>
	<fieldset id="form">
		<legend>Login</legend><br>
		<form id="login">
		  <table>
		    <tr><td>MySQL Host:</td><td><input type="text" id="dbhost"/></td></tr>
		    <tr><td>MySQL Port:</td><td><input type="text" id="dbport"/></td></tr>
		    <tr><td>MySQL Database Name:</td><td><input type="text" id="dbname"/></td></tr>
		    <tr><td>MySQL Database User:</td><td><input type="text" id="dbuser"/></td></tr>
			<tr><td>MySQL Database Password:</td><td><input type="password" id="dbpasswd"/></td></tr>
			<tr><td></td><td><p></p></td></tr>
			<tr><td>Emp ID:</td><td><input type="number" id="id" required/></td></tr>
			<tr><td>Password:</td><td><input type="password" id="passwd"/></td></tr>
		  </table><br>
			<input type="submit" value="Login"/>
		</form>
		<span id="msg"></span>
	</fieldset>
  </center>
</body>
</html>